body{
    background-image: url("/html/practice/images/programming-background-collage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
  }
    h1 {
    
      font-family: verdana;
      font-size: 250%;
      text-shadow: 2px 1px #1c1d1f8e;
      font-weight: bold;
      color: rgba(248, 244, 17, 0.849);
      background-color: hsla(185, 57%, 9%, 0.726);
      border: 3px solid #0c090a9d;
      border-radius: 15px;
  max-width: fit-content;
      padding: 1%;
    }
    
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        max-width: 150px;
        background-color: rgba(11, 75, 54, 0.616);
        font-weight: bold;
        padding: 2%;
        margin-left: 2%;
    
      }
      
      td {
        border: 1px solid #080404;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #14bfc5;
      }
      th {
        border: 2px solid #080404;
        text-align: left;
        padding: 8px;
        color: rgba(0, 255, 136, 0.747);
        font-weight: bold;
      }